.header {
  height: 100px;
}

.headerSmall {
  height: 60px;
}

.titleText {
  vertical-align: middle;
  text-align: center;
}

.subtitleText {
  text-align: center;
}

.loginBox {
  margin-top: 50px;
}

.margin {
  margin-top: 15px;
}

.h1, .h2, .div {
  font-family: Avenir;
}

.nav {
  margin: 5px;
}

@font-face {
  font-family: Avenir;
  src: url(GlacialIndifference-Regular.otf);
}