 #title-name h1:hover { opacity:0;
      display:'block'
  }
  .tran{
    -webkit-transition:opacity 0.2s ease;
    -moz-transition:opacity 0.2s ease;
    -o-transition:opacity 0.2s ease;
  }
  #title-name h1{
	  z-index: 10;
  }
  #search-bar {
	  z-index: 5;
  }